{% extends "base.html" %}
{% block content %} 
<main class="container"> 
    <div class="row">
        <div class="col-md-6 offset-md-3 card p-5">
            <h2>{{title}}</h2>
            <hr>
            {% if tasks.count == 0 %}
                <div class="alert alert-warning" role="alert">
                    No tasks found
                </div>
            {% endif %}
            {% for task in tasks %}
            <div class="alert {% if task.important %} alert-danger {% else %} alert-primary {% endif %} shadow" role="alert">
                <a href="{% url 'view_task' task.id %}" class="alert-link">{{ task.title }}</a><br>
                {{ task.description }}<br>
                {{ task.datecomplete | date:'M j Y:i' }}
            </div>
            {% endfor %}
        </div>
    </div>
</main>
{% endblock %}